body {
    background-image: url('src/assets/imagenes/sala.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1040px;
    min-width: 100%;
    box-shadow: 0px 0px 10px 10px #01243583;
-webkit-box-shadow: 0px 0px 13px 12px #020022ab;
}
.jumbotron{
    background-color: rgba(80, 12, 12, 0.772);
}
/* El div del registro */
#registro div {
    max-width: 210px;
    
    box-shadow: 0px 0px 10px 10px #00830b28;
-webkit-box-shadow: 0px 0px 10px 12px #03507c00;
}
/* Lo de adentro del form */
form.registro {
    margin-top: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 100%;
    height: auto;
    background-color: rgba(214, 37, 37, 0.226);
    box-shadow: 0px 0px 10px 10px #00000000;
    -webkit-box-shadow: 0px 0px 13px 12px #f8060600;
}

.text-center, #user_img {
    text-align: center;
    width: 140px;
    height: 140px;
}

.spinner {
    color: red;
    font-size: 28px;
}

#card {
    margin-top: 4px;
    max-width: 360px;
    background-color: rgba(236, 59, 5, 0.274);
    box-shadow: 0px 0px 10px 10px #0000006b;
    -webkit-box-shadow: 0px 0px 13px 12px #0000007e;
}
#fecha {
    max-width: 140px;
}
.content {
    margin-top: 8px;
}
.menu, .article {
    min-height: 1040px;
}
.turno {
    font-family: fantasy;
    background-color: rgba(240, 87, 87, 0.418);
    
}
.left {
    background-color: rgba(4, 174, 241, 0.678); width:auto; box-shadow: 0px 0px 10px 10px #01243583;
    -webkit-box-shadow: 0px 0px 5px 11px #000000a9;
}
.turno {
    color: rgb(1, 0, 61);
    background-color: rgb(245, 167, 94);
    text-shadow: 1px 1px 1px rgba(182, 66, 4, 0.979), 2px 2px 4px rgba(20, 7, 0, 0.979);
}
.form-control {
    background-color: rgba(249, 250, 224, 0.877);
    color: rgb(22, 3, 131);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.575);
    margin: 0px 0px -8px 0px;
}
.text-danger {
    font-weight: bold;
    margin-top: 18px;
}
.alert-danger {
    font-size: 18px;
    margin-top: 8px;
    font-weight: bold;
}
p {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 1px 2px black;
}
button {
    padding: 2px;
    margin: 2px;
    font-size: 20px;
}
.btn-warning {
    box-shadow: 2px 2px 14px 8px rgba(109, 3, 3, 0.726);
}
#contacto {
    background-color: rgba(245, 220, 1, 0.233);
}

.consult {
    color: black;
    text-shadow: 1px 1px 2px rgba(196, 230, 8, 0.959);
    font-size: 22px;
}

/* RESPONSIVE */
@media screen and (max-width: 944px) {
    button {
        font-size: 14px;
    }
    
}
/* Tablet */
@media screen and (max-width: 1024px) {
    button {
        font-size: 20px;
    }
    
}

@media screen and (max-width: 830px) {
    button {
        font-size: 16px;
    }
}

@media screen and (max-width: 800px) {
    button {
        font-size: 16px;
    }
    .table-responsive{
        width: min-content;
    }
}
/* Smartphone */
@media screen and (max-width: 470px) {
    .table-responsive{
        width: min-content;
        font-size: 10px;
    }
    .left {
        font-size: 10px;
    }
    p {
        font-size: 12px;
    }
    button {
        font-size: 10px;
        width: 2px;
    }
    h5, h6 {
        font-size: 14px;
    }
    body {
        min-height: 1080px;
    }
    #card {
        width: 180px;
    }
    #registro input {
        width: 120px;
        font-size: 12px;
        box-sizing: border-box;
    }
    .text-center, #user_img {
        text-align: center;
        width: 110px;
        height: 110px;
    }
}
  /* Special */
@media screen and (max-width: 280px) {
    button {
        font-size: 10px;
    }
    h5, h6 {
        max-width: 13px;
    }
    .table-responsive{
        width: min-content;
    }
}

