<!DOCTYPE html>
<html lang="en">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <app-logo></app-logo>
    <app-navbar></app-navbar>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Turno</title>
</head>
<body class="container">
    <div class="content">
        <div class="row" id="content">
            <!-- Middle area content -->
            <div class="col-xs-1 col-sm-8 col-md-10 table-responsive">
                <app-tabla-especialidades [listadoEspecialidades]="listadoEspecialidades" [listadoEspecialistas]="listadoEspecialistas" (emitirverespecialidad)="EspecialidadSeleccionada($event)"></app-tabla-especialidades>
            </div>
        </div>
    </div>
</body>
</html>