<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menu-Logo</title>
</head>
<body>
    <div>
        <div class="row">
            <div class="col-xs-4 col-md-12 col-sm-12 col-lg-12">
                <img src="/assets/imagenes/logo.jpg" alt="logo-img" class="logo-img" (click)="sonar()">
                <h1 class="p" i18n="Logo">Clinica dental "La Buena Sonriza"</h1>
                <p class="col-xs-4 descr" i18n>Especialista en odontología</p>
            </div>
        </div>
    </div>
</body>
</html>
