<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
</head>
<body>
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2"></div>
        <div class="card col-xs-2 col-sm-8 col-md-8">
            <div class="card-body">
                <h3 class="text-center">Gracias por Registrarse!</h3>
                <div class="form-group">
                <p class="text-center">
                    Hemos enviado un enlace a su correo electrónico.
                </p>
                <p class="text-center">
                    Por favor verifique su correo electrónico y haga click en el enlace para activar su cuenta.
                </p>
                </div>
                <div class="form-group text-center">
                <button class="btn btn-success" routerLink="/home" routerLinkActive="active">
                    Ir a la Sala
                </button>
                </div>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2"></div>
    </div>
    
</body>
</html>